<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="Description"
      content="Goran Vucinac a front-end developer building responsive websites with vue "
    />
    <meta property="og:title" content="Goran Vucinac | Front-end developer" />
    <meta
      property="og:description"
      content="Hello I'm Goran, a front-end developer based in Serbia."
    />
    <meta
      property="og:image"
      content="https://vuchke.github.io/portfolio/images/project-screenshots/portfolio_thumbnail.webp"
    />

    <title>Goran Vucinac | Front-End Developer</title>
    <link rel="shortcut icon" type="img/webp" href="./images/favicon.webp" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <!-- Import Vue 3 -->
    <script src="https://unpkg.com/vue@3.0.0-beta.24/dist/vue.global.js"></script>
    <link rel="stylesheet" href="main.css" />
  </head>
  <body>
    <header id="nav">
      <div
        class="menu-toggler"
        :class="{'open': navOpen}"
        @click="navOpen = !navOpen"
      >
        <div class="bar half start"></div>
        <div class="bar"></div>
        <div class="bar half end"></div>
      </div>
      <nav class="top-nav" :class="{'open': navOpen}">
        <ul class="nav-list">
          <li>
            <a href="index.html" class="nav-link" @click="navOpen = false"
              >Home</a
            >
          </li>
          <li>
            <a href="#about" class="nav-link" @click="navOpen = false">About</a>
          </li>
          <li>
            <a href="#services" class="nav-link" @click="navOpen = false"
              >Services</a
            >
          </li>
          <li>
            <a href="#portfolio" class="nav-link" @click="navOpen = false"
              >Portfolio</a
            >
          </li>
          <li>
            <a href="#expirience" class="nav-link" @click="navOpen = false"
              >Expirience</a
            >
          </li>
          <li>
            <a href="#contact" class="nav-link" @click="navOpen = false"
              >Contact</a
            >
          </li>
        </ul>
      </nav>

      <div class="landing-text">
        <p><span class="time-of-day">{{ timestamp }}!</span> I'm</p>
        <h1>
          Goran <br />
          Vucinac
        </h1>
        <h6>A Front-End Developer</h6>
        <div class="button">
          <div class="button_bckg"></div>
          <a href="#contact">Get in touch</a>
        </div>
      </div>
    </header>

    <section class="about" id="about">
      <div class="container">
        <div class="profile-img">
          <img
            loading="lazy"
            width="325"
            height="325"
            src="images/portfolioImage.jpg"
            alt=""
          />
        </div>
        <div class="about-details">
          <div class="about-heading">
            <h1>About</h1>
            <h6>Myself</h6>
          </div>
          <p>
            Hello I'm Goran, a front-end developer based in Serbia.
            <span class="devide"></span>
            I enjoy creating things that live on the internet, whether that be
            websites, applications, or anything in between. My goal is to always
            build products that provide pixel-perfect, performant experiences.
            <span class="devide"></span>
            I started learning front-end development by myself in the February
            of 2019, it started like a hobby but became a passion. I'm able to
            work with the following technologies:
          </p>
          <ul>
            <li>
              <img
                loading="lazy"
                width="16"
                height="16"
                class="icons"
                src="./images/iconfinder_html5_245995.png"
                alt=""
              />
              HTML 5
            </li>
            <li>
              <img
                loading="lazy"
                width="16"
                height="16"
                class="icons"
                src="./images/iconfinder_badge-css-3_317756.png"
                alt=""
              />
              CSS 3, Animations, Flexbox, Responsive Web Design
            </li>
            <li>
              <img
                loading="lazy"
                width="16"
                height="16"
                class="icons"
                src="./images/iconfinder_code-programming-javascript-software-develop-command-language_652581.png"
                alt=""
              />
              JavaScript, ECMAScript 6
            </li>
            <li>
              <img
                loading="lazy"
                width="16"
                height="16"
                class="icons"
                src="./images/vue.png"
                alt=""
              />
              Vue, Vue Router, Vuetify
            </li>
            <li>
              <img
                loading="lazy"
                width="16"
                height="16"
                class="icons"
                src="./images/bootstrap.png"
                alt=""
              />
              Bootstrap
            </li>
            <li>
              <img
                loading="lazy"
                width="16"
                height="16"
                class="icons"
                src="./images/iconfinder_wordpress_727234.png"
                alt=""
              />
              Wordpress
            </li>

            <li>
              <img
                loading="lazy"
                width="16"
                height="16"
                class="icons"
                src="./images/iconfinder_github-social-media_765246.png"
                alt=""
              />
              GitHub
            </li>
            <li>
              <img
                loading="lazy"
                width="16"
                height="16"
                class="icons"
                src="./images/iconfinder_logo_brand_brands_logos_adobe_photoshop_2993707.png"
                alt=""
              />
              Photoshop
            </li>
          </ul>
          <p>Technologies i would like to master:</p>
          <ul>
            <li>
              <img
                loading="lazy"
                width="16"
                height="16"
                class="icons"
                src="./images/vue.png"
                alt=""
              />
              Vuex
            </li>
            <li>
              <img
                loading="lazy"
                width="16"
                height="16"
                class="icons"
                src="./images/Quasar.png"
                alt=""
              />
              Quasar
            </li>
            <li>
              <img
                loading="lazy"
                width="16"
                height="16"
                class="icons"
                src="./images/figma.png"
                alt=""
              />
              Figma & Design
            </li>
            <li>
              <img
                loading="lazy"
                width="16"
                height="16"
                class="icons"
                src="./images/iconfinder_Web_Design_1016081.png"
                alt=""
              />
              UI & UX
            </li>
            <li>
              <img
                loading="lazy"
                width="16"
                height="16"
                class="icons"
                src="./images/iconfinder_06_Idea_2064481.png"
                alt=""
              />
              And lots more...
            </li>
          </ul>
          <div class="social-media">
            <ul class="nav-list">
              <li>
                <a href="#" class="icon-link"
                  ><i class="fab fa-facebook-square"></i
                ></a>
              </li>
              <li>
                <a
                  target="_blank"
                  rel="noopener noreferrer"
                  href="https://github.com/vuchke"
                  class="icon-link"
                  ><i class="fab fa-github-square"></i
                ></a>
              </li>
              <li>
                <a href="#" class="icon-link"
                  ><i class="fab fa-linkedin"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section class="services" id="services">
      <div class="container">
        <div class="section-heading">
          <h1>Services</h1>
          <h6>What i can do for you</h6>
        </div>
        <div class="my-skills">
          <div class="skill">
            <div class="icon-container">
              <i class="fas fa-layer-group"></i>
            </div>
            <h1>Mobile Optimization</h1>
            <p>
              Mobile web development is exploding. Smart phones and tablets
              dominate the market, and users can browse the web from anywhere
              now, not just at home.
            </p>
          </div>

          <div class="skill">
            <div class="icon-container">
              <i class="fas fa-code"></i>
            </div>
            <h1>Web Development</h1>
            <p>
              I'm passionate about web design and development, and interested in
              mobile app development. As I grow as a developer, I hope to write
              clean, readable code that can be used by others and leveraged to
              create beautiful software.
            </p>
          </div>
          <div class="skill">
            <div class="icon-container">
              <i class="fas fa-chart-line"></i>
            </div>
            <h1>HTML / CSS / JavaScript</h1>
            <p>
              Have an existing design for a website that you need integrated
              into HTML or CSS? I can take that design and turn it into a static
              or dynamic website using HTML5, CSS3, and JavaScript.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="portfolio" id="portfolio">
      <div class="container">
        <div class="section-heading">
          <h1>Portfolio</h1>
          <h6>View some of my recent work</h6>
        </div>

        <div class="featured-projects">
          <h2 class="portfolio-headings">Featured Projects</h2>
          <div class="featured-project-item">
            <div class="project-container">
              <div class="project-image">
                <a
                  href="https://vuchke.github.io/Hungry/"
                  target="_blank"
                  rel="noopener noreferrer"
                  ><img
                    loading="lazy"
                    width="1000"
                    height="600"
                    src="./images/project-screenshots/Hungry Restaurant.webp"
                    alt=""
                /></a>
              </div>
              <h3 class="project-name">Hungry People Restaurant</h3>
              <div class="project-description">
                <div class="project-links">
                  <a
                    href="https://github.com/vuchke/Hungry"
                    target="_blank"
                    rel="noopener noreferrer"
                    >View Code</a
                  >
                  <div class="new-row"></div>
                  <a
                    href="https://vuchke.github.io/Hungry/"
                    target="_blank"
                    rel="noopener noreferrer"
                    >View Demo</a
                  >
                </div>

                <div class="project-content">
                  <p>
                    Fully responsive landing page for a restaurant. Developed
                    from a <span>figma template</span>, slider and carousel are
                    done in slick. Tab menu and menu items are done with
                    <span>Vue 3</span>. Apear animations are done in vanilla JS
                    with intersection observer.
                  </p>
                  <h5>Technologies Used:</h5>
                  <ul class="tech-used">
                    <li>HTML5</li>
                    <li>CSS3</li>
                    <li>JavaScript</li>
                    <li>Vue</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="featured-project-item">
            <div class="project-container">
              <div class="project-image">
                <a
                  href="https://vuchke.github.io/travelix/"
                  target="_blank"
                  rel="noopener noreferrer"
                  ><img
                    loading="lazy"
                    width="1000"
                    height="600"
                    src="./images/project-screenshots/Travelix.webp"
                    alt=""
                /></a>
              </div>
              <h3 class="project-name">Travelix</h3>
              <div class="project-description">
                <div class="project-links">
                  <a
                    href="https://github.com/vuchke/travelix"
                    target="_blank"
                    rel="noopener noreferrer"
                    >View Code</a
                  >
                  <a
                    href="https://vuchke.github.io/travelix/"
                    target="_blank"
                    rel="noopener noreferrer"
                    >View Demo</a
                  >
                </div>

                <div class="project-content">
                  <p>Fully responsive landing page for a Travel agency.</p>
                  <h5>Technologies Used:</h5>
                  <ul class="tech-used">
                    <li>HTML5</li>
                    <li>CSS3</li>
                    <li>JavaScript</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <h2 class="portfolio-headings">Other noteworthy projects</h2>
        <div class="portfolio-item">
          <div class="portfolio-img has-margin-right">
            <a
              href="https://vuchke.github.io/DoggieDaycare/"
              target="_blank"
              rel="noopener noreferrer"
              ><img
                loading="lazy"
                width="575"
                height="281"
                src="images/project-screenshots/Doggie Daycare.webp"
                alt=""
            /></a>
          </div>
          <div class="portfolio-description">
            <h6>Web Development</h6>
            <h1>Doggie Daycare Center</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit
              nesciunt commodi, iusto tempore consectetur recusandae.
            </p>

            <div class="project-links">
              <a
                href="https://github.com/vuchke/DoggieDaycare"
                target="_blank"
                rel="noopener noreferrer"
                >View Code</a
              >
              <a
                href="https://vuchke.github.io/DoggieDaycare/"
                target="_blank"
                rel="noopener noreferrer"
                >View Demo</a
              >
            </div>

            <ul class="tech-used">
              <li>HTML5</li>
              <li>CSS3</li>
              <li>JavaScript</li>
            </ul>
          </div>
        </div>

        <div class="portfolio-item">
          <div class="portfolio-description has-margin-right">
            <h6>Web Design & Web Development</h6>
            <h1>Casovi Matematike</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit
              nesciunt commodi, iusto tempore consectetur recusandae.
            </p>
            <div class="project-links">
              <a
                href="https://github.com/vuchke/Matematika"
                target="_blank"
                rel="noopener noreferrer"
                >View Code</a
              >
              <a
                href="https://vuchke.github.io/Matematika/"
                target="_blank"
                rel="noopener noreferrer"
                >View Demo</a
              >
            </div>
            <ul class="tech-used">
              <li>HTML5</li>
              <li>CSS3</li>
              <li>JavaScript</li>
            </ul>
          </div>
          <div class="portfolio-img">
            <a
              href="https://vuchke.github.io/Matematika/"
              target="_blank"
              rel="noopener noreferrer"
              ><img
                loading="lazy"
                width="575"
                height="281"
                src="./images/project-screenshots/Casovi Matematike.webp"
                alt=""
            /></a>
          </div>
        </div>

        <div class="portfolio-item">
          <div class="portfolio-img has-margin-right">
            <a
              href="https://vuchke.github.io/The-Rosa/"
              target="_blank"
              rel="noopener noreferrer"
              ><img
                loading="lazy"
                width="575"
                height="281"
                src="./images/project-screenshots/The Rosa.webp"
                alt=""
            /></a>
          </div>
          <div class="portfolio-description">
            <h6>Web Development</h6>
            <h1>The Rosa</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit
              nesciunt commodi, iusto tempore consectetur recusandae.
            </p>
            <div class="project-links">
              <a
                href="https://github.com/vuchke/The-Rosa"
                target="_blank"
                rel="noopener noreferrer"
                >View Code</a
              >
              <a
                href="https://vuchke.github.io/The-Rosa/"
                target="_blank"
                rel="noopener noreferrer"
                >View Demo</a
              >
            </div>
            <ul class="tech-used">
              <li>HTML5</li>
              <li>CSS3</li>
              <li>JavaScript</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section class="contact" id="contact">
      <div class="container">
        <div class="section-heading">
          <h1>Get In Touch</h1>
          <h6>
            Have a sweet project in mind or just want to say hi? <br />
            Feel free to send me a message!
          </h6>
        </div>
        <form class="form" @submit.prevent="checkForm">
          <transition name="flip" mode="out-in">
            <div class="form-container" v-if="!valid">
              <div class="input-group-wrap">
                <div class="input-group">
                  <label for="name">Name:</label>
                  <input
                    type="text"
                    id="name"
                    name="name"
                    placeholder="Enter your name"
                    v-model="name"
                  />
                  <span
                    class="form-bar"
                    :class="{'invalid-form-input': nameError}"
                  ></span>
                  <transition name="fadeInError">
                    <p class="form-error" v-if="nameError">
                      Please enter your name
                    </p>
                  </transition>
                </div>
                <div class="input-group">
                  <label for="email">Email:</label>
                  <input
                    type="email"
                    id="email"
                    name="email"
                    placeholder="Enter your Email"
                    v-model="email"
                  />
                  <span
                    class="form-bar"
                    :class="{'invalid-form-input': emailValidError || emailError}"
                  ></span>
                  <transition name="fadeInError" mode="out-in">
                    <p class="form-error" v-if="emailError">
                      Please enter your email
                    </p>
                  </transition>
                  <transition name="fadeInError" mode="out-in"
                    ><p class="form-error" v-if="emailValidError">
                      Please enter a valid email
                    </p>
                  </transition>
                </div>
              </div>

              <label for="subject">Subject:</label>
              <textarea
                name="subject"
                id="subject"
                cols="20"
                rows="5"
                placeholder="Subject"
                v-model="message"
              ></textarea>
              <span
                class="form-bar"
                :class="{'invalid-form-input': messageError}"
              ></span>
              <transition name="fadeInError">
                <p class="form-error" v-if="messageError">
                  Please enter your message
                </p>
              </transition>
              <button
                type="submit"
                class="form-button"
                :class="{'disabled': !formIsValid}"
              >
                Send Message
              </button>
            </div>
            <div class="confirm-form-message" v-else>
              <h2>Message was sent successfully</h2>
              <lottie-player
                style="width: 100px; height: 100px"
                class="animated-icon"
                src="./images/animated-icons/24-approved-checked-outline.json"
                background="transparent"
                speed="1"
                autoplay
                loop
              ></lottie-player>
              <p>Hey, thanks for reaching out to me!</p>
              <p>
                I have receved your message and will reply by email as soon as
                possible.
              </p>
              <p>Stay awesome and have a great day! :)</p>
            </div>
          </transition>
        </form>
      </div>
    </section>

    <footer class="copyright">
      <a href="#nav">
        <div class="up" id="up">
          <i class="fas fa-chevron-up"></i>
        </div>
      </a>
      <p>&copy; 2020</p>
    </footer>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"
    ></script>
    <script type="text/javascript">
      (function () {
        emailjs.init("user_RD2Om2HKl0lJEV1v3ag2a");
      })();
    </script>

    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="main.js"></script>
  </body>
</html>
